*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
h1{
    margin-top: 12px;
-webkit-text-fill-color: white;
-webkit-text-stroke: .5px black;
    font-size: 2.5em;
}
header{
    width: 100%;
    float: left;
    text-align: center;
    background: #75b6dc;
    height: 70px;
    margin-bottom: 60px;

}
.contenedor{
    width: 70%;
    margin-left: 13%;
    
}
input[type="text"], input[type="password"]{
	width: 100%;
	height: 45px;
	margin-top:10px;
    margin-bottom: 20px;
	font-size: 1.1em;
	outline: none;
	border:0px;
	background-color: #dcdcdc;
	border-radius: 5px;
    padding-left: 15px;
}   

button{
    margin-left: 15%;
	width:70%;
	height: 40px;
	outline: none;
	border:0px;
	background-color: #75b6dc;
	color: white;
	font-size: 1.2em;
	border-radius: 5px;
	-webkit-box-shadow:0px 5px 0px #659dbf;
}
footer{
    width: 100%;
    height: 60px;
    background: #75b6dc;
    margin-top: 275px;
    text-align: center;

}
a{
    color: white;
    text-decoration: none;
        font-size: .9em;
}
p{
    color: #dcdcdc;
}
footer:hover{
    background: #659dbf;

}